.breadcrumbs {
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 50px;
    margin-top: 10px;
  }
  
  .breadcrumbs .breadcrumb-separator {
    margin: 0 8px;
  }
  
  .breadcrumbs .breadcrumb-item {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
  
  .breadcrumbs .breadcrumb-item:not(.clickable) {
    cursor: default;
  }
  
  .breadcrumbs .breadcrumb-item.clickable:hover {
    text-decoration: underline;
  }
  