.cart-page .cart-page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .cart-page .cart-page-wrapper .cart-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .cart-page .cart-page-wrapper .left-pane {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
  }
  
  .cart-page .cart-page-wrapper .right-pane {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .cart-page .cart-page-wrapper .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cart-page .cart-page-wrapper .product-image-container {
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .cart-page .cart-page-wrapper .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cart-page .cart-page-wrapper .product-title {
    font-size: 30px;
    flex: 3;
    cursor: pointer;
  }
  
  .cart-page .cart-page-wrapper .product-price {
    display: flex;
    align-items: center;
    font-size: 30px;
    flex: 1;
  }
  
  .cart-page .cart-page-wrapper .coin-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .cart-page .cart-page-wrapper .remove-button {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1;
  }
  
  .cart-page .cart-page-wrapper .number {
    color: blue;
  }
  
  .cart-page .cart-page-wrapper .items-count {
    font-size: 24px;
  }
  
  .cart-page .cart-page-wrapper .total-text {
    font-size: 24px;
  }
  
  .cart-page .cart-page-wrapper .total-price {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .cart-page .cart-page-wrapper .pay-button {
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .cart-page .cart-page-wrapper .pay-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .cart-page .cart-page-wrapper .pay-button:active {
    transform: translateY(2px);
  }
  