/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
    padding: 1rem;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .header .logo {
    width: 120px;
    grid-column: 2;
    justify-self: center;
    cursor: pointer;
  }
  
  .header .logo:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .header .logo:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  
  .header .header-info {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    grid-column: 3;
    justify-self: end;
    margin-right: 10px;
  }
  
  .header .username{
    font-family: monospace;
    font-size: 2rem;
  }

  .header .cart-icon {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .header .cart-icon:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .header .cart-icon:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  
  .header .coin-icon {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
  
  .header .coin-balance {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    margin-left: 0.1rem;
  }
  