/* General */
.home-page {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  /* Left Pane */
  .home-page .left-pane {
    margin-left: 5%;
    margin-right: 3%;
    width: 20%;
  }
  
    /* Category */
  .home-page .category-title {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1rem;
  }

  .home-page .category-dropdown {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    height: 40px;
    text-align-last: center;
    background-color: rgb(253, 111, 134);
  }

  .home-page .category-dropdown option {
    text-align: center;
  }

  /* Ratings */
  .home-page .rating-title {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .home-page .rating-range {
    width: 100%;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    height: 10px;
    background-color: black;
  }
  
  .home-page .rating-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .home-page .rating-range::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background-color: white;
    border: 2px solid black;
    background-color: #01c331;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .home-page .rating-range[value="3"]::-webkit-slider-thumb {
    background-color: rgb(255, 238, 0);
  }
  
  .home-page .rating-range[value="3"]::-moz-range-thumb {
    background-color: rgb(255, 238, 0);
  }

  .home-page .rating-range[value="4"]::-webkit-slider-thumb {
    background-color: rgb(255, 238, 0);
  }
  
  .home-page .rating-range[value="4"]::-moz-range-thumb {
    background-color: rgb(255, 238, 0);
  }
  
  .home-page .rating-range[value="5"]::-webkit-slider-thumb {
    background-color: rgb(255, 238, 0);
  }
  
  .home-page .rating-range[value="5"]::-moz-range-thumb {
    background-color: rgb(255, 238, 0);
  }
  
  
  .home-page .rating-labels {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .home-page .rating-label {
    font-family: monospace;
    font-size: 2rem;
  }

  /* Prices */
  .home-page .prices-title {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-page .prices-coin-icon {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
  }

  .home-page .prices-range-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .home-page .min-price-input,
  .home-page .max-price-input {
    width: 20%;
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }
  
  .home-page .prices-range-container {
    margin-bottom: 1rem;
}

  .home-page .price-range {
    width: 60%;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-appearance: none;
    height: 10px;
    background-color: black;
  }

  .home-page .price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    background-color: #01c331;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }

  .home-page .price-range::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Checkbox */
  .home-page .checkbox-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .home-page .checkbox-label {
    font-family: monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .home-page .discount-checkbox,
  .home-page .in-stock-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
  }

  .home-page .panes-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* Right Pane */
  .home-page .right-pane {
    margin-left: 5%;
    margin-top: 22px;
    width: 60%;
  }

  .home-page .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .home-page .sorted-by-text {
    font-family: monospace;
    font-size: 20px;
    margin-right: 1rem;
  }

  .home-page .sort-button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-bottom: 0.5rem;
    box-shadow: 0px 6px 0 0 rgba(146, 143, 142, 0.3);
    transition: top 0.1s ease, box-shadow 0.1s ease;
  }

  .home-page .sort-button:hover {
    background-color: rgb(173, 227, 248);
  }

  .home-page .sort-button.active {
    background-color: rgb(173, 227, 248);
    top: 3px;
    box-shadow: none;
    border: 3px solid #000;
  }

  .home-page .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
  }
  
  .home-page .card {
    flex: 0 0 calc(33.333% - 1rem);
    border: 1px solid #333;
    height: 180px;
    margin-bottom: 1rem;
    background-color: white;
    box-sizing: border-box;
  }

  .home-page .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .home-page .pagination-arrow {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .home-page .pagination-page {
    font-family: monospace;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .home-page .pagination-page.current {
    font-weight: bold;
    cursor: default;
  }

  .home-page .pagination-page:not(.current):hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }
  
  .home-page .card {
    position: relative;
  }

  .home-page .card:hover {
    outline: 3px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .home-page .card .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home-page .collect-button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 2px solid #000;
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0px 10px 0 0 rgba(99, 103, 92, 0.3);
    transition: top 0.1s ease, box-shadow 0.1s ease, opacity 0.3s ease;
  }

  .out-of-stock {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #000;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    outline: none;
    position: absolute;
    bottom: 0;
    left: 0;

  }
  
  .home-page .card:hover .collect-button {
    opacity: 1;
  }
  
  .home-page .collect-button:hover {
    background-color: rgb(255, 234, 0);
  }
  
  .home-page .collect-button:active {
    background-color: rgb(255, 154, 13);
    box-shadow: none;
  }

  .home-page .cards-container a {
    text-decoration: none;
    color: inherit;
    display: block;
  }