.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .home-page .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 1rem;
    background-color: white;
    position: relative;
    margin-top: 15px;
  }
  
  .home-page .logo {
    width: 120px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .home-page .header-info {
    display: flex;
    align-items: center;
    position: relative;
    left: 55%;
    margin-right: 10px;
  }
  
  .home-page .cart-icon {
    width: 8%;
    height: 8%;
    margin-left: 1rem;
  }
  
  .home-page .coin-icon {
    width: 7%;
    height: 7%;
    margin-left: 0.5rem;
  }
  
  .home-page .coin-balance {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    margin-left: 0.1rem;
  }
  
  .home-page .left-pane {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;

  }
  
  .home-page .category-title,
  .home-page .rating-title,
  .home-page .prices-title {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .home-page .category-dropdown {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .home-page .checkbox-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .home-page .checkbox-label {
    font-family: monospace;
    margin-bottom: 0.5rem;
    
  }
  
  .home-page .discount-checkbox,
  .home-page .in-stock-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
    
  }
  
  .home-page .panes-container {
    width: 100%;
    display: flex;
  }  
  
  .home-page .right-pane {
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
  }
  
  .home-page .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .home-page .sorted-by-text {
    font-family: monospace;
    margin-right: 1rem;
  }
  
  .home-page .sort-button {
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .home-page .sort-button.active {
    background-color: skyblue;
  }
  
  /* ... (existing CSS) ... */

.home-page .rating-range {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .home-page .rating-labels {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .home-page .rating-label {
    font-family: monospace;
  }
  
  