.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .home-page .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 1rem;
    background-color: white;
    position: relative;
    margin-top: 15px;
  }
  
  .home-page .logo {
    width: 120px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .home-page .header-info {
    display: flex;
    align-items: center;
    position: relative;
    left: 55%;
    margin-right: 10px;
  }
  
  .home-page .cart-icon {
    width: 8%;
    height: 8%;
    margin-left: 1rem;
  }
  
  .home-page .coin-icon {
    width: 7%;
    height: 7%;
    margin-left: 0.5rem;
  }
  
  .home-page .coin-balance {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    margin-left: 0.1rem;
  }
  
  /* Add styles for the Left Pane and Right Pane here */
  .left-pane {
  }
  
  .right-pane {
  }
  