.payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.payment-page .payment-page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
  }
  
  .payment-page .payment-page-wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dotted black;
    width: fit-content;
  }
  
  .payment-page .payment-page-wrapper .ship-to {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-page .payment-page-wrapper .order-details {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .payment-page .payment-page-wrapper .total-coins {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .payment-page .payment-page-wrapper .coin-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  .payment-page .payment-page-wrapper .order-button {
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .payment-page .payment-page-wrapper .order-button:hover {
    background-color: rgba(255, 200, 21, 0.683);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .payment-page .payment-page-wrapper .order-button:active {
    background-color: rgba(255, 60, 21, 0.683);
    transform: translateY(3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .cart-button {
    font-family: 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  .cart-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  
  .cart-button:active{
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
