.product-detail-page .product-detail-page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .product-detail-page .product-detail-page-wrapper .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }
  
  .product-detail-page .product-detail-page-wrapper .back-button {
    font-family: 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-detail {
    display: flex;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-image-container {
    flex: 1;
    border: 1px solid black;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-detail-page .product-detail-page-wrapper .ratings {
    font-size: 28px;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-price {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .product-detail-page .product-detail-page-wrapper .coin-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .product-detail-page .product-detail-page-wrapper .product-description {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .product-detail-page .product-detail-page-wrapper .collect-button {
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
  }
  
  .product-detail-page .product-detail-page-wrapper .collect-button:hover {
    background-color: rgba(103, 99, 99, 0.35);
  }
  
  .product-detail-page .product-detail-page-wrapper .collect-button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  